@if(!plot.userId){
<div class="card bg-base-200">
    <figure>
        <img [src]="this.url">
    </figure> 
      <div class="card-body items-center text-center">
          <h2 class="card-title">  {{ plot.number }} </h2>
      </div>
      
      <button class="btn btn-primary m-4" (click)="claim()"> Claim </button>
</div>
} @else {
<div class="card bg-base-300">
    <figure>
        <img [src]="this.url">
    </figure> 
      <div class="card-body items-center text-center">
          <h2 class="card-title">  {{ plot.number }} </h2>
          <!-- <p> {{garden.description}}</p>   -->
          <div class="badge badge-primary">{{plot.userName}}</div>
      </div>
      @if(plot.userId === auth.getuser()?.uid){
        <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Change the Image</span>
        </div>
        <input id="fileUpload" type="file" class="file-input file-input-bordered m-4" accept="image/png, image/jpeg" #upload>
        </label>
        <button class="btn m-4" (click)="uploadFile(upload)">Upload</button>
      }
</div>
}
    


    
